# Prototype
snippet cl
	class ${1:class_name}
	${2:function_name}: (${3:argument}) ->
		${4}
# Function
snippet fn
	${1:function_name}: (${2:argument}) ->
		${3}
# Anonymous Function
snippet ->
	(${1:argument}) ->
		${2}
snippet =>
	(${1:argument}) =>
		${2}
snippet lg
	console.log '${1:message}'
snippet wa
	console.warn '${1:message}'

